# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\数据\Python\Promotion_Fee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
